<h2 class="text-center">
  Lorem ipsum</h2>
<h3 class="text-center">
  Lorem ipsum</h3>
<div class="col-md-6 col-md-offset-3 text-center">
  <span class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu lorem dui. In venenatis, lectus vel convallis euismod, sapien nibh sagittis magna, nec eleifend dolor velit congue ipsum. Fusce volutpat, lectus in feugiat bibendum.</span>
</div>

<div class="clearfix"></div>
<div class="row center-block padding-top ">
  <hr/>
  <div class="col-xs-6 col-sm-3 placeholder text-center">
    <img src="//lorempixel.com/200/200/food" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Food</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder text-center">
    <img src="//lorempixel.com/200/200/sports" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Sport</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder text-center">
    <img src="//lorempixel.com/200/200/people/9" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Social</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder text-center">
    <img src="//lorempixel.com/200/200/cats" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Awesome</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>

<div class="padding-top container">
  <hr/>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="text-center">SMALL PACK</h3>
          <p class="text-center">MAX PACK SIZE 25</p>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:30px">
            <strong>$20/month</strong>
          </p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            Unlimited products
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Unlimited Email Invitations
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>
            Fantastic Support
          </li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" href="#">SUBSCRIBE</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="text-center">MEDIUM PACK</h3>
          <p class="text-center">MAX PACK SIZE 50</p>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:30px">
            <strong>$40/month</strong>
          </p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            Unlimited products
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Unlimited Email Invitations
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>
            Fantastic Support
          </li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" href="#">SUBSCRIBE</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="text-center">LARGE PACK</h3>
          <p class="text-center">MAX PACK SIZE 100</p>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:30px">
            <strong>$60/month</strong>
          </p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            Unlimited products
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Unlimited Email Invitations
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>
            Fantastic Support
          </li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" href="#">SUBSCRIBE</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="text-center">HUGE PACK</h3>
          <p class="text-center">MAX PACK SIZE 300</p>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:30px">
            <strong>$100/month</strong>
          </p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            Unlimited products
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-envelope"></span>
            Unlimited Email Invitations
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>
            Fantastic Support
          </li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" href="#">SUBSCRIBE</a>
        </div>
      </div>
    </div>
  </div>
</div>
